<div class="well-wrapper">
    <h3>Add Well</h3>
    <div class="form-group">
        <label for="usr">Name</label>
        <input type="text" class="form-control" #name>
    </div>

    <div class="form-group">
        <label for="usr">Type</label>
        <input type="text" class="form-control" #type>
    </div>

    <div class="form-group">
        <label for="usr">Source Key</label>
        <input type="text" class="form-control" #sourceKey>
    </div>

    <button (click)="addWell()">Add Well</button>
</div>